:root{
    --primary--:#1e5631;
    --text--:#1e5631;
    --light--:#dde6e1;
}
input[type="checkbox"]{
    display: none;
}
.scroll_hidden{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Nav Style */
nav{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.navication_container{
    align-items: center;
    background:white;
    display: flex;
    height: 80px;
    justify-content: space-between;
    max-width:1920px;
    width: 100%;
}

.navication_container .left{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 300px;
}

.navication_container .left img{
    width: 70%;
    transform: translateX(20px);
}
.navication_container .right{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: auto;
    gap: 20px;
}

.navication_container .right .request{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: auto;
}

.navication_container .right .request .res{
    width: 190px;
    height: 50%;
    background-color: var(--light--);
    border-radius: 10px;
    display: flex;
    border: 1px rgba(0, 0, 0, 0.54) solid;
    align-items: center;
    justify-content: center;
}
.navication_container .right .request .res a{
    text-decoration:  none;
    text-align: center;
    color: var(--primary--);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}
.navication_container .right .request .res:hover{
    background-color: rgb(0, 112, 0);
}
.navication_container .right .request .res:hover>a{
    color: white;
}

.navication_container .right .sign-container{
width: auto;
height: 100%;
display: flex;
align-items: center;
justify-content:center;

}
.navication_container .right .sign-container a{
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}
.navication_container .right .sign-container .img{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 0px;
}
.navication_container .right .sign-container .img img{
    width: 30px;
    height: auto;

}
.navication_container .right .sign-container .sign{
    width:auto;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light--);
    padding: 10px;
    gap: 0px;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.54) solid;
    transition: all 0.3s ease-in-out;
}
.navication_container .right .sign-container .sign:hover{
background-color: #77ba1d;

}
.navication_container .right .sign-container .sign a:hover{
    color: white;
}
.navication_container .right .sign-container .sign .items{
    width:auto;
    height: 100%;
    color: var(--primary--);
    font-size: 16px;
    font-weight: bold;
}
.navication_container .right .sign-container .sign .line{
width: 2px;
margin: 0px 5px;
height: 100%;
background: #5b5b5b;

}
/* Menu Page */
.navication_container .right .menu,
.navication_container .right .menu label{
    cursor: pointer;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;

}
.navication_container .right .menu .menu_icon{
width: auto;
height: 100%;
display: flex;
flex-direction: column;
gap: 5px;
align-items: center;
justify-content: center;
}
.navication_container .right .menu .menu_icon .menus{
width: 30px;
height: 4px;
border-radius: 10px;
background-color: var(--primary--);
transition: all 0.3s ease-in-out;
}

.navication_container .right .menu .name:hover{
    color: #77ba1d;
}

.navication_container .right .menu .name{
    font-size: 18px;
    display: inline-block;
    margin: 0px 10px;
    padding: 0px 5px;
    color: var(--primary--);
    font-weight: bold;
    text-transform: uppercase;
}
.navication_container .right .menu .menu-box{
    width: 100%;
    height:100vh;
   position: fixed;
    left: 5000px;
    top: 6%;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    background:linear-gradient(80deg,rgb(0, 0, 0),rgb(25, 25, 25));
}
/* Menu Click Animation */

/* Rotate lines to form X when checked */
#menubar:checked + label .menus:nth-child(1) {
    transform: rotate(45deg) translate(8px, 5px);
}

#menubar:checked + label .menus:nth-child(2) {
    opacity: 0; /* Hide middle line when forming X */
}

#menubar:checked + label .menus:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -5px);
}
#menubar:checked~.menu-box{
  left: 0;
}

/* Home page style */
.home-container{
    position: relative;
    width: 100%;
    height:90vh;
    overflow: hidden;
    background-color: #1e5631;
}





.home-container .home_grid_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.home_grid_container .brand{
    grid-row-start:1;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end:3;
}
.home_grid_container .promo{
    grid-row-start:1;
    grid-row-end: 3; 
}
.home_grid_container .see_view{
    grid-row-start:3;  
    grid-column-start:1;
    grid-column-end:3;
}
/* Home page content style */
.home_grid_container .our_brand{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content: flex-start;
}
.home_grid_container .our_brand .head{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.home_grid_container .our_brand .head .main{
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.home_grid_container .our_brand .head .main h1{
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
}
.home_grid_container .our_brand .head .sub{
    width: 89.5%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.home_grid_container .our_brand .head .sub p{
    font-size: 28px;
    text-transform: capitalize;
    color: white;
}
.home_grid_container .our_brand .btn-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.home_grid_container .our_brand .btn-container .btn{
    width: 330px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(16, 97, 0);
    transform: translateX(100px);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
}

/* Home page promo page */

.home_grid_container .img-promo{
position: relative;
width: 100%;
height: 100%;
display:flex;
align-items: center;
justify-content: center;
}
.home_grid_container .img-promo .img{
    position: absolute;
    width: 85%;
    height: 85%;
    background: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
/* {

    Img ADD OR align size
} */

.home_grid_container .video_conatainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}


.home_grid_container .video_conatainer .video{
    width: 220px;
    height: 110px;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border-radius: 10px;
}
.home_grid_container .video_conatainer .video img{
    width: 55px;
    transition: all 5s;
    cursor: pointer;
}
.home_grid_container .video_conatainer .video img:hover{
    transform: rotate(980deg);
}
.home_grid_container .video_conatainer  .name{
    position: relative;
    width:100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(90deg,rgb(0, 0, 0),rgba(15, 15, 15, 0.751),rgba(0, 0, 0, 0.316));
}
.home_grid_container .video_conatainer  .name .text{
    margin: 0px 0px 0px 50px;
    color: white;
}
.home_grid_container .video_conatainer .promo_human{
  position: absolute;  
  left: -5%;
  top: -390px;
}
.home_grid_container .video_conatainer .promo_human img{
    width: 1000px;
}

/* Rating style */
.rating-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating-container .rate{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #000000;
}
.rating-container .rate .number{
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating-container .rate .number h1{
    font-size: 80px;
    color: #ffffff;
}
.rating-container .rate .rating_info{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}
.rating-container .rate .rating_info .star:nth-child(odd){
   animation:star 0.8s infinite ease-in-out;
}
.rating-container .rate .rating_info .star:nth-child(even){
    animation:star 0.8s infinite ease-in-out ;
    animation-delay: 0.5s;
 }
@keyframes star {
    0%{

        filter:drop-shadow(1px 1px 8px rgb(191, 191, 0));
    }
    50%{
        filter:drop-shadow(1px 1px 2px rgb(172, 172, 9));
    }
    100%{
        filter:drop-shadow(1px 1px 8px yellow);
    }
}
.rating-container .rate .rating_info .info{
    width: 100%;
    height:30px;
    margin: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.rating-container .rate .rating_info .info p{
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}
.rating-container .rate .rating_info .starts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 0px 10px;
    gap: 5px;
}.rating-container .rate .rating_info .starts .star{
    width:auto;
    height:auto;
    padding: 5px;
}
.rating-container .rate .rating_info .starts .star img{
    width: 25px;
}
/* Media query for tablets */
/* Mobile Devices */
@media only screen and (max-width: 767px) {
   /* Home Nav Style */

.navication_container{
    width: 100vw;
    height: 50px;
    justify-content: space-between;
}

.navication_container .left{
    width:auto;
}

.navication_container .left img{
    width: 100px;
    transform: translateX(20px);
}

.navication_container .right{
    position: relative;
    width: auto;
    gap: 0px;
   
}
.navication_container .right .request{
    order: 1;
}
.navication_container .right .sign-container{
    order: 3;
}
.navication_container .right .menu{
    order: 2;
}
.navication_container .right .request .res{
    width: 140px;
    border-radius: 5px;
    padding: 5px;
}
.navication_container .right .request .res a{
    font-size: 12px;
    font-weight: 800;
}


.navication_container .right .sign-container{
position: absolute;
top: 50px;
left:10px;

}

.navication_container .right .sign-container .img{
    width: auto;
    height: 100%;
    margin: 0px 10px 0px 0px;
}
.navication_container .right .sign-container .img img{
    width: 18px;
    height: auto;

}
.navication_container .right .sign-container .sign{
    padding: 3px 5px;
}

.navication_container .right .sign-container .sign .items{
    width:auto;
    height: 100%;
    color: var(--primary--);
    font-size: 13px;
    font-weight: bold;
}

/* Menu Page */
.navication_container .right .menu,
.navication_container .right .menu label{
    cursor: pointer;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 8px;

}

.navication_container .right .menu .name{
    display: none;
}
.navication_container .right .menu .menu_icon .menus{
    width: 25px;
    height: 4px;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
   /* Home Nav Style */

.navication_container{
    width: 100vw;
    height: 80px;
    justify-content: space-between;
}

.navication_container .left{
    width:auto;
}

.navication_container .left img{
    width: 150px;
    transform: translateX(30px);
}

.navication_container .right{
    position: relative;
    width: auto;
    gap: 15px;
   
}
.navication_container .right .request{
    order: 1;
}
.navication_container .right .sign-container{
    order: 2;
}
.navication_container .right .menu{
    order: 3;
}
.navication_container .right .request .res{
    width: auto;
    height: 50%;
    padding: 10px;
    border-radius: 5px;
}
.navication_container .right .request .res a{
    font-size: 14px;
    font-weight: 800;
}


.navication_container .right .sign-container{
position:inherit;
top: 0px;
left:0px;
height: 100%;
}

.navication_container .right .sign-container .img{
    width: auto;
    height: 100%;
    margin: 0px 10px 0px 0px;
}
.navication_container .right .sign-container .img img{
    width:30px;
    height: auto;

}
.navication_container .right .sign-container .sign{
    padding: 10px 5px;
}

.navication_container .right .sign-container .sign .items{
    width:auto;
    height: 100%;
    color: var(--primary--);
    font-size: 16px;
    font-weight: bold;
}

/* Menu Page */
.navication_container .right .menu,
.navication_container .right .menu label{
    cursor: pointer;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 10px;
}

.navication_container .right .menu .name{
    display: none;
}
.navication_container .right .menu .menu_icon .menus{
    width: 25px;
    height: 4px;
    }
    .navication_container .right .menu .menu-box{
        top: 10%;
    }
}

/* Laptops and Small Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
      /* Home Nav Style */

.navication_container{
    width: 100%;
    height: 70px;
    justify-content: space-between;
}

.navication_container .left{
    width:auto;
}

.navication_container .left img{
    width: 180px;
    transform: translateX(20px);
}

.navication_container .right{
    position: relative;
    width: auto;
    gap: 10px;
   
}
.navication_container .right .request{
    order: 1;
}
.navication_container .right .sign-container{
    order: 2;
}
.navication_container .right .menu{
    order: 3;
}
.navication_container .right .request .res{
    width: 190px;
    height: 50%;
    border-radius: 5px;
}
.navication_container .right .request .res a{
    font-size: 14px;
    font-weight: 800;
}


.navication_container .right .sign-container{
position:inherit;
top: 0px;
left:0px;
height: 100%;
}

.navication_container .right .sign-container .img{
    width: auto;
    height: 100%;
    margin: 0px 10px 0px 0px;
}
.navication_container .right .sign-container .img img{
    width:24px;
    height: auto;

}
.navication_container .right .sign-container .sign{
    padding: 8px 5px;
}

.navication_container .right .sign-container .sign .items{
    width:auto;
    height: 100%;
    color: var(--primary--);
    font-size: 14px;
    font-weight: bold;
}

/* Menu Page */
.navication_container .right .menu,
.navication_container .right .menu label{
    cursor: pointer;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 8px;

}

.navication_container .right .menu .name{
    display:block;
}
.navication_container .right .menu .menu_icon .menus{
    width: 35px;
    height: 5px;
    }
    .navication_container .right .menu .menu-box{
        top: 9%;
    }
    #menubar:checked + label .menus:nth-child(1) {
        transform: rotate(45deg) translate(8px, 5px);
    }
    
    #menubar:checked + label .menus:nth-child(2) {
        opacity: 0; /* Hide middle line when forming X */
    }
    
    #menubar:checked + label .menus:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -5px);
    }
}

/* Desktops */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
   /* Home Nav Style */

.navication_container{
    width: 100%;
    height: 70px;
    justify-content: space-between;
}

.navication_container .left{
    width:auto;
}

.navication_container .left img{
    width: 180px;
    transform: translateX(20px);
}

.navication_container .right{
    position: relative;
    width: auto;
    gap: 10px;
   
}
.navication_container .right .request{
    order: 1;
}
.navication_container .right .sign-container{
    order: 2;
}
.navication_container .right .menu{
    order: 3;
}
.navication_container .right .request .res{
    width: 190px;
    height: 50%;
    border-radius: 5px;
}
.navication_container .right .request .res a{
    font-size: 14px;
    font-weight: 800;
}


.navication_container .right .sign-container{
position:inherit;
top: 0px;
left:0px;
height: 100%;
}

.navication_container .right .sign-container .img{
    width: auto;
    height: 100%;
    margin: 0px 10px 0px 0px;
}
.navication_container .right .sign-container .img img{
    width:24px;
    height: auto;

}
.navication_container .right .sign-container .sign{
    padding: 8px 5px;
}

.navication_container .right .sign-container .sign .items{
    width:auto;
    height: 100%;
    color: var(--primary--);
    font-size: 14px;
    font-weight: bold;
}

/* Menu Page */
.navication_container .right .menu,
.navication_container .right .menu label{
    cursor: pointer;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 8px;

}

.navication_container .right .menu .name{
    display:block;
}
.navication_container .right .menu .menu_icon .menus{
    width: 30px;
    height: 4px;
    }
    .navication_container .right .menu .menu-box{
        top: 9%;
    }
    #menubar:checked + label .menus:nth-child(1) {
        transform: rotate(45deg) translate(7px, 5px);
    }
    
    #menubar:checked + label .menus:nth-child(2) {
        opacity: 0; /* Hide middle line when forming X */
    }
    
    #menubar:checked + label .menus:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -5px);
    }
}

/* Large Desktops and TVs */
@media only screen and (min-width: 1921px) {
  
}